body { 
    background-color: white;
   font-family: Avenir;
   } 

.menu {
	background-color:#FDF2EE;
	
}

h1 {
	font:2px;
	color:red;
	font-family: Avenir;
	list-style-type: none;
	text-align:center;
	text-transform:uppercase;
	}
	
h2 {
	font-family: Avenir;
	font-weight:bold;
	color:black;
}

.nav a {
    font-family: Avenir;
	color:red;
	text-transform: uppercase;
	width:100%;
}



#site_nav a {
	font-size: 16px;
	/* need site-nav a so it doesn't change all a classes */
	
}

.menu-list {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
	}
	
.clams_plus {
	text-align: left;
}
	
